<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [value]="activeSegment" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="first">
      <ion-label>
        First
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="second">
      <ion-label>
        Second
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="third">
      <ion-label>
        Third
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="swipe-container" (scroll)="onScroll($event)" #swipeContainer>
    <div class=" page">
      <ion-label>Page 1</ion-label>
    </div>
    <div class="page">
      <ion-label>Page 2</ion-label>
    </div>
    <div class="page">
      <ion-label>Page 3</ion-label>
    </div>
  </div>

</ion-content>
